__pycache__/
expression_recognition/__pycache__/
*$py.class
*.pyc
*.so
.cache
*.bin
pip-log.txt
pip-delete-this-directory.txt
*.manifest
*.spec
*.log

build/
dist/
expression_detector.egg-info/

data/lfw_filtered/
data/example_data/

experiments/.ipynb_checkpoints